

*{
  font-family: 'Architects Daughter', cursive;
  background-color:rgb(130,182,255);
  font-size: 30px;
}

a:visited{
  color:#ff7b41;
  }
a:link{
  display: flex;
  justify-content: center;
  font-size: 10vh;
  align-self: center;
}
a:hover {
  color: 	#ff5994;
}
img:hover {
  transform: scaleX(-1);
}
h1{
  text-align: center;
  font-size: 10vh;
}
.keyboard{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  }
.answerArray{
  background-color: #84ff9f;
  width: 50vw;
  height: 50vh;
  margin-left: 40vw;
  display: inline;
  font-size: 10vh;
  border: 5px solid #ff5994;
  border-radius: 20px;
}

.container{
  width: 30vw;
  height: 70vh;
  display: inline;
  position: relative;
  margin-left: 20vw;
}
#head{
width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 200px;
  left: 156px;
  display: none;
}
#torso{
  width: 6px;
  height: 100px;
  border: 3px solid black;
  background-color: black;
  position: absolute;
  top: 300px;
  left: 200px;
  display: none;
}
#leftarm{
  width: 100px;
  height: 6px;
  border: 3px solid black;
  background-color: black;
  display: none;
  position: absolute;
  top: 330px;
  left: 100px;
  transform: rotate(-20deg);
}
#rightarm{
  width: 100px;
  height: 6px;
  border: 3px solid black;
  background-color: black;
  display: none;
  position: absolute;
  top: 330px;
  left: 200px;
  transform: rotate(20deg);
}
#leftleg{
  width: 100px;
  height: 6px;
  border: 3px solid black;
  background-color: black;
  display: none;
  position: absolute;
  top: 435px;
  left: 120px;
  transform: rotate(-50deg);
}
#rightleg{
  width: 100px;
  height: 6px;
  border: 3px solid black;
  background-color: black;
  display: none;
  position: absolute;
  top: 435px;
  left: 188px;
  transform: rotate(50deg);
}
#bScaffold{
  width: 100px;
  height: 6px;
  border: 3px solid black;
  background-color: black;
  position: absolute;
  top: 435px;
  left: 188px;
  transform: rotate(180deg);
}
.guessed{
  background-color: 	#84ff9f;
  border: 5px solid #ff9668;
  border-radius: 20px;
  padding: 15px;
  top: 500px;
  text-decoration: line-through;
  color: 	#ff7b41;
}
.consonant{
  background-color: 	#edff8f; 
  border: 5px solid #ff5994;
  border-radius: 20px;
  padding: 15px;
  top: 500px;
}
.vowel{
  background-color: 	#ff5994; 
  border: 5px solid #edff8f;
  border-radius: 20px;
  padding: 15px;
  top: 500px;
}
